{% extends "base.html" %}
{% block content %}

    <h2>{{restaurant_name}}</h2>
    <a href="{{url_for('restaurantsList')}}"><<< Back to restaurants list</a>
    <br>
    <a href="{{url_for('addMenuItem', restaurant_id = restaurant_id)}}">Add new menu item</a>
    <br>

    <div class = 'flash'>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
        	<ul>
        		{% for message in messages %}
				<li> <strong> {{ message }} </strong> </li>
        		{% endfor %}
        	</ul>
        	{% endif %}
    	{% endwith %}
	</div>

    <h3>Entrees</h3>
    {% for item in items %}
        {% if item.course == 'Entree' %}

    <div class = 'itemsList'>
		<span class = 'name'>
            {{item.name}}<br>
            {{item.description}}<br>
            {{item.price}}<br>
        </span>
	</div>

    <div class = "editdeletepane">
        <a href="{{url_for('editMenuItem', restaurant_id = restaurant_id, menuItem_id = item.id) }}" >Edit</a>
        <br>
		<a href="{{url_for('deleteMenuItem', restaurant_id = restaurant_id, menuItem_id = item.id) }}" >Delete</a>
	</div>
        <br>
         {% endif %}
    {% endfor %}


     <h3>Appetizers</h3>
    {% for item in items %}
        {% if item.course == 'Appetizer' %}

    <div class = 'itemsList'>
		<span class = 'name'>
            {{item.name}}<br>
            {{item.description}}<br>
            {{item.price}}<br>
        </span>
	</div>

    <div class = "editdeletepane">
        <a href="{{url_for('editMenuItem', restaurant_id = restaurant_id, menuItem_id = item.id) }}" >Edit</a>
        <br>
		<a href="{{url_for('deleteMenuItem', restaurant_id = restaurant_id, menuItem_id = item.id) }}" >Delete</a>
	</div>
        <br>
         {% endif %}
    {% endfor %}


    <h3>Desserts</h3>
    {% for item in items %}
        {% if item.course == 'Dessert' %}

    <div class = 'itemsList'>
		<span class = 'name'>
            {{item.name}}<br>
            {{item.description}}<br>
            {{item.price}}<br>
        </span>
	</div>

    <div class = "editdeletepane">
        <a href="{{url_for('editMenuItem', restaurant_id = restaurant_id, menuItem_id = item.id) }}" >Edit</a>
        <br>
		<a href="{{url_for('deleteMenuItem', restaurant_id = restaurant_id, menuItem_id = item.id) }}" >Delete</a>
	</div>
        <br>
         {% endif %}
    {% endfor %}


    <h3>Beverages</h3>
    {% for item in items %}
        {% if item.course == 'Beverage' %}

    <div class = 'itemsList'>
		<span class = 'name'>
            {{item.name}}<br>
            {{item.description}}<br>
            {{item.price}}<br>
        </span>
	</div>

    <div class = "editdeletepane">
        <a href="{{url_for('editMenuItem', restaurant_id = restaurant_id, menuItem_id = item.id) }}" >Edit</a>
        <br>
		<a href="{{url_for('deleteMenuItem', restaurant_id = restaurant_id, menuItem_id = item.id) }}" >Delete</a>
	</div>
        <br>
         {% endif %}
    {% endfor %}

{% endblock %}