<html>
<body>

<h1>New Menu Item</h1>

<form action="#" method='post'>
    Name:<br>
    <input type='text' size='30' name='name' value=''><br>
    Description:<br>
    <input type='text' size='90' name='description' value=''><br>
    Price:<br>
    <input type='text' size='15' name='price' value=''><br>
    <br>
    Course:<br>
    <input type='radio' size='30' name='course' value='Entree'>Entree<br>
    <input type='radio' size='30' name='course' value='Appetizer'>Appetizer<br>
    <input type='radio' size='30' name='course' value='Dessert'>Dessert<br>
    <input type='radio' size='30' name='course' value='Other' checked="checked">Other<br>
    <br>
    <input type='submit' value='Save'>
</form>
<a href="/restaurant/{{restaurant_id}}/menu">Cancel</a>
</body>
</html>